:root {
  --ff-decorative: "Permanent Marker", cursive;
  --ff-primary: "League Spartan", sans-serif;
  --ff-bold-primary: "Josefin Sans", sans-serif;

  --clr-neutral-100: #f8f4f0;
  --clr-neutral-200: #d9cab6;
  --clr-neutral-900: black;
  --clr-primary-300: #e89161;

  --shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  background-color: var(--clr-neutral-100);
  margin: auto;
  font-family: var(--ff-primary);
}
header {
  width: 85%;
  display: block;
  margin: auto;
}
.container {
  margin: 4em auto;
}
.navbar-brand {
  background-color: var(--clr-neutral-900);
}
.navbar-brand:hover {
  background-color: var(--clr-primary-300);
  transition: ease-in-out 150ms;
}
.navbar a {
  font-size: 2rem;
  color: var(--clr-neutral-900);
}
.navbar a:hover {
  color: var(--clr-neutral-200);
}
a.brand {
  font-family: var(--ff-bold-primary);
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--clr-neutral-900);
}
h1 {
  font-family: var(--ff-decorative);
  font-size: 8rem;
  text-align: center;
}
a.hey,
a.hello,
a.hi {
  text-decoration: none;
  color: black;
}
a.hey:hover,
a.hi:hover,
a.hello:hover {
  color: var(--clr-neutral-200);
  transition: ease-in-out 250ms;
}
h3,
#about-header {
  font-size: 8rem;
  font-family: var(--ff-bold-primary);
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 5rem;
}
h4 {
  font-size: 3rem;
  text-align: center;
}
ul {
  padding: 0;
  list-style: none;
  font-family: var(--ff-decorative);
}
li {
  text-transform: uppercase;
  font-size: 3rem;
}
.age,
.lang,
.from,
.nick {
  font-family: var(--ff-primary);
  text-transform: none;
}
p {
  font-size: 2rem;
  text-align: start;
  line-height: 1.5;
}

h5 {
  font-size: 4rem;
  font-family: var(--ff-decorative);
  text-align: center;
}

.click-here {
  font-family: var(--ff-decorative);
  display: inline;
}

.project-1 {
  display: flex;
  justify-content: center;
}

#img-of-me {
  max-width: 25rem;
  border-radius: 500px 500px 0 0;
}

#weatherapp-img {
  max-width: 28rem;
}

#weatherapp-rain-img {
  max-width: 26rem;
}

.nav-links {
  display: flex;
  justify-content: center;
}

#email {
  font-family: var(--ff-primary);
  max-width: 30rem;
  margin: 30px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: var(--shadow);
}

a#email:hover {
  background-color: var(--clr-primary-300);
  color: white;
  transition: ease-in-out 150ms;
}

@media (max-width: 600px) {
  h1 {
    font-size: 5rem;
    text-align: right;
  }

  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h3 {
    display: none;
  }
  h5 {
    font-size: 3rem;
  }
  li {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .container {
    width: 80%;
  }

  #about-header {
    text-align: center;
    font-size: 5rem;
  }

  #img-of-me {
    width: 18rem;
  }
}
/* 
@media (min-width: 700px) {
  h3 {
    font-size: 5.5rem;
  }
  h1,
  #about-header {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  li {
    font-size: 2.5rem;
  }
} */
